*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #222f4d;

}
.main {
    width: 80%;
    margin: 0 auto;
}
    
nav {
    background-color: #222f3d; 
    color: #fff;
    padding: 15px 0;
}
    
nav h1 {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 35px;
}

nav a{
    padding-top: 5px;
    float: right;
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.form-container {
    height: 35vh;
    text-align: center;
    background-color: rgba(43, 57, 75, 0.402);
    /* background: transparent; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    color: white;
}

h2 {
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    color: white;
}

p{
    margin-top: 20px;
    font-size: 19px;
}
p > a{
    color: rgb(174, 201, 230);
}
input {
    width: 55%;
    color: white;
    background:transparent;
    padding: 8px;
    margin: 15px;
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.554);
    background: transparent;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4a4e69;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e2e42;
}

#error-message {
    color: rgb(225, 225, 255);
    text-align: center;
    font-size: 18px;
}
.foot-page{
    height: 100px;
    background-color: #222f3d;
    color: #dddddd;
    text-align: center;
   
}

.copy a:hover{
    padding-top: 25px;
    color: #dddddd;
    text-decoration: underline;
}

.copy{
    padding-top: 25px;
}

.right{
    padding-top: 10px;
} 

.copy a{
    padding-left: 10px;
    font-size: 1.0em;
    color: #dddddd;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .copy a{
        font-size: 0.95em;
    }

    nav h1 {
        font-size: 30px;
    }

    nav a {
        font-size: 30px;
    }
}

@media screen and (max-width: 430px) {
    .copy a{
        font-size: 0.85em;
    }

    nav h1 {
        font-size: 25px;
    }

    nav a {
        font-size: 28px;
    }

    .form-container {
        height: 33vh;
        width: 350px;
    }

}